body{
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

header{
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	height: 600px;
}

.container{
	width: 930px;
	margin: 0 auto;
}
.logo{
	margin-top: 41px;
	float: left;
}

nav{
	float: right;
}
.menu{
	padding: 0;
	margin: 0;
	display: block;
}
.menu li{
	float: left;
	display: block;
}
.menu a{
	color: #fff;
	text-decoration: none;
}